.elementExample {
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.elementExample_first{
    background-color: #8E44AD;

    /* inicialmente o elemento tem a posição static -> temos que altera-la 
    Position relative: para mudar usa-se as posições CONTRÁRIAS :
    Se queremos mandar o elemento para baixo: top
    Mandar par cima: bottom
    Mandar pra direita: left
    Mandar pra esquerda: right;
    */

    position: relative;
    top: 200px;
}
.elementExample_last{
    background-color: #C0392B;
    /* Z-index => o padrão é zero: posição atual do elemento
    Da mesma forma, para mudar precisamos usar o position RELATIVE (Static é padrão)*/
    position: relative;
}

.elementExample_isActive{
    z-index: 1;
}